!!!
%html{:lang => :zh}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}

    - title = yield :page_title

    %title= title
    = csrf_meta_tags
    
    = stylesheet_link_tag 'application', :media => 'screen', :'data-turbolinks-track' => true
    = javascript_include_tag 'application', :'data-turbolinks-track' => true

  %body
    = yield
    - if action_name != 'login'
      %p= link_to '登出', logout_path
